@import '../../styles/mixins';

.newsletter {
   p{
      display: block;
   }

   .newsForm {
      display: grid;
      grid-gap: 0;
      grid-template-columns: 50% 50%;
      padding: 20px;
      text-indent: 20px;

      input[type='email'],
      input[type='submit'] {
         border-radius: 8px;
         font-size: 18px;
         padding: 8px 20px;
      }
      input[type='submit'] {
         background-color: $color3;
         border: 1px solid $color3;
         color: $color4;
      }
   }
}
