.allDivs {
   display: block;
   margin-bottom: 300px;
   height: fit-content;
}

.mainDiv {
   align-items: center;
   justify-content: center;

   .outerTopDiv {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      .innerTopDiv {
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: center;
         min-height: 80vh;
         min-width: 65vw;

         .leftDiv,
         .rightDiv {
            display: flex;
            flex-direction: column;
            width: 100%;

            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            div,
            p {
               color: whitesmoke;
               margin: 0.625rem 1.25rem;

               h1,
               h2,
               h3,
               h4,
               h5,
               h6,
               div,
               p {
                  margin: 0;
               }
            }
         }
         .leftDiv {
            align-items: flex-start;
         }
         .rightDiv {
            align-items: flex-end;
         }
      }
   }

   .advantageCards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
   }
}
