$color1: #080c25;
$color2: #161e35;
$color3: #3071e7;
$color4: #ffffff;
$color5: #a6b2ec;

@mixin layout {
   flex: 1;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}
